body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono", monospace;
  font-size: 15px;
  color: hsl(186, 14%, 43%);
  /* min-height: 100vh; */
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

h2 {
  font-size: medium;
}

.main-container {
  background-color: hsl(0, 0%, 100%);
  display: grid;
  margin: 0 auto;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  width: 900px;
  height: 450px;
  border-radius: 30px;
}

div.first-column {
  grid-column-start: 1;
}

div.second-column {
  background-color: hsl(183, 100%, 15%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 2fr;
  grid-column-start: 2;
}

/* .error {
  visibility: hidden;
}

.hide-error {
  color: hsl(6, 100%, 63%);
}

.if-error {
  outline: 3px;
  outline-style: solid;
  outline-color: hsl(6, 100%, 63%);
} */

/* final results of calculations $0.00*/
div.tip-amount-num,
div.total-amount-num {
  font-size: 45px;
  color: hsl(172, 67%, 45%);
}

/* final results tags */
article.tip-per-person,
article.total-per-person {
  display: grid;
  grid-template-columns: 175px 175px;
  grid-template-rows: 1fr;
}

article h2 {
  color: hsl(0, 0%, 100%);
}

span.tip-amount-num,
span.total-amount-num {
  color: hsl(172, 67%, 45%);
  font-size: 45px;
  grid-column-start: 2;
  grid-row-start: 1;
  justify-self: end;
}

span.aside {
  margin-top: -30px;
  font-size: 14px;
}

/* footer disc */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.btn-container {
  display: grid;
  grid-template-columns: repeat(3, 125px);
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
}

button.btn {
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  border: solid;
  border-radius: 4px;
  border: none;
  font-family: "Space Mono", monospace;
  font-size: 24px;
  height: 50px;
}

input[type="number"] {
  background-color: hsl(189, 41%, 97%);
  width: 390px;
  text-align: right;
  padding: 10px;
  font-family: "Space Mono", monospace;
  font-size: 24px;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

input[type="number"].calc-custom {
  border-style: solid;
  border-radius: 4px;
  font-size: 20px;
  text-align: center;
  width: 100%;
  border: none;
  padding: 0;
}

input:focus {
  outline: 3px;
  outline-style: solid;
  outline-color: hsl(172, 67%, 45%);
}

button.disabledResetBtn {
  background-color: hsl(184, 80%, 24%);
  color: hsl(183, 100%, 15%);
  border: solid;
  border-radius: 4px;
  border: none;
  font-family: "Space Mono", monospace;
  width: 370px;
  height: 45px;
  font-size: 1.2rem;
  align-self: center;
  justify-self: center;
  pointer-events: none;
}

/* the icons within the inputs */
.bill-item,
.numOfPeople {
  position: relative;
}

.bill-item input,
.numOfPeople input {
  display: block;
}

.bill-item img,
.numOfPeople img {
  position: absolute;
  bottom: 17px;
  left: 13px;
}

/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Strong cyan: hsl(172, 67%, 45%)

### Neutral

- Very dark cyan: hsl(183, 100%, 15%)
- Dark grayish cyan: hsl(186, 14%, 43%)
- Grayish cyan: hsl(184, 14%, 56%)
- Light grayish cyan: hsl(185, 41%, 84%)
- Very light grayish cyan: hsl(189, 41%, 97%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (form inputs): 24px

### Font

- Family: [Space Mono](https://fonts.google.com/specimen/Space+Mono)
- Weights: 700 */
