body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono", monospace;
  font-size: 15px;
  color: hsl(186, 14%, 43%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input {
  text-align: right;
  padding: 10px;
  font-family: "Space Mono", monospace;
  font-size: 24px;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

input:focus {
  outline: 3px;
  outline-style: solid;
  outline-color: hsl(172, 67%, 45%);
}

.app-title {
  display: flex;
  font-size: 35px;
}

.main-container {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px;
  width: 900px;
  height: 425px;
  gap: 40px;
}

.main-calc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  width: 50%;
  min-height: 380px;
  border-radius: 10px;
  /* background-color: pink; */
}

.res {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 7px;
  width: 100%;
}

.main-res {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-evenly;
  flex-wrap: wrap;
  width: 50%;
  background-color: hsl(183, 100%, 15%);
  min-height: 380px;
  border-radius: 10px;
}

.main-result1,
.main-result2 {
  color: white;
  font-size: 16px;
}

.per-person1,
.per-person2 {
  font-size: 12px;
}

.box-1 {
  padding: 10px;
  width: 32%;
  padding-left: 20px;
}

.box-2 {
  padding: 10px;
  width: 17%;
  padding-left: 20px;
}

.box-tip {
  text-align: right;
  width: 52%;
  padding-right: 25px;
}

.box-total {
  text-align: right;
  width: 67%;
  padding-right: 25px;
}

.int {
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  font-size: 1.1rem;
  height: 20px;
  width: 410px;
  border-radius: 4px;
}

.calc-custom {
  width: 100px;
  height: 30px;
  border-radius: 4px;
}

::placeholder {
  text-align: center;
  font-size: 24px;
}

.btn-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px 15px;
}

.btn {
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  border: solid;
  border-radius: 4px;
  border: none;
  font-family: "Space Mono", monospace;
  font-size: 20px;
  width: 120px;
  height: 50px;
  /* margin: 6px 3px; */
}

.btn:hover {
  background-color: hsl(185, 41%, 84%);
  color: hsl(0, 0%, 0%);
  cursor: pointer;
}

.btn:focus {
  background-color: hsl(172, 67%, 45%);
  color: hsl(0, 0%, 0%);
}

.tip-amount,
.total-amount {
  font-family: "Space Mono", monospace;
  font-size: 3.2vw;
  color: hsl(172, 67%, 45%);
  background-color: pink;
}

.resetBtn {
  background-color: hsl(172, 67%, 45%);
  color: hsl(0, 0%, 0%);
  border: solid;
  border-radius: 4px;
  border: none;
  font-family: "Space Mono", monospace;
  width: 370px;
  height: 45px;
  font-size: 1.2rem;
  align-self: center;
  justify-self: center;
}

.resetBtn:hover {
  background-color: hsl(185, 41%, 84%);
  color: hsl(0, 0%, 0%);
}

.customNumber {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 7px;
}

.error {
  visibility: hidden;
}

.hide-error {
  color: hsl(6, 100%, 63%);
}

.if-error {
  outline: 3px;
  outline-style: solid;
  outline-color: hsl(6, 100%, 63%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Strong cyan: hsl(172, 67%, 45%)

### Neutral

- Very dark cyan: hsl(183, 100%, 15%)
- Dark grayish cyan: hsl(186, 14%, 43%)
- Grayish cyan: hsl(184, 14%, 56%)
- Light grayish cyan: hsl(185, 41%, 84%)
- Very light grayish cyan: hsl(189, 41%, 97%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (form inputs): 24px

### Font

- Family: [Space Mono](https://fonts.google.com/specimen/Space+Mono)
- Weights: 700 */
